# Ignore the data directory contents, but keep the folder
data/*
!data/.gitkeep

# Ignore private folder completely
private/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/

# Ignore VS Code workspace settings
.vscode/

# Ignore model checkpoints contents, but keep the folder
checkpoints/*
!checkpoints/.gitkeep

# Ignore image output directory contents, but keep the folder
augmented_images/
!augmented_images/.gitkeep